.intro {
  max-width: 690px;
  padding: 0 148px;
}

@media (max-width: 1140px) {
  .intro {
    padding: 0 48px;
  }
}
@media (max-width: 992px) {
  .intro {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  .intro {
    padding: 0 16px;
  }
}
