.place__website-url {
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #aaa;
}

@media (max-width: 992px) {
  .place__website-url {
    font-size: 12px;
    line-height: 1;
  }
}
